<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @ViewBag.ApplicationName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (HttpContext.Current.Session["id"] != null)
                {
                    @Html.ActionLink((string)ViewBag.ApplicationName, "Index", "Poll", new { area = "" }, new { @class = "navbar-brand" })
                }
                else
                {
                    @Html.ActionLink((string)ViewBag.ApplicationName, "Index", "User", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            @if (HttpContext.Current.Session["id"] != null)
            {
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>@Html.ActionLink("Agregar encuesta", "Add", "Poll")</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuario <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Ver perfil", "Index", "User",new { profile = HttpContext.Current.Session["userName"] },null)</li>
                                <li>@Html.ActionLink("Editar perfil", "EditProfile", "User")</li>
                                <li>@Html.ActionLink("Cambiar usuario", "ChangeUser", "User")</li>
                                <li>@Html.ActionLink("Cambiar correo electrónico", "ChangeEmail", "User")</li>
                                <li>@Html.ActionLink("Cambiar contraseña", "ChangePassword", "User")</li>
                                <li>@Html.ActionLink("Borrar cuenta", "DeleteAccount", "User")</li>
                                <li>@Html.ActionLink("Cerrar sesión", "CloseSession", "User")</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
